<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Manager</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>

  <main>
   <a class="add-task" href="/tasks/new">Add Task</a>
  <h1>Today's Tasks</h1>
  <div id="container">
    <% tasks.forEach(task => {%>
      <a href="/tasks/<%= task.id %>" class="task">
        <div class="indicator"></div>
        <form class="task-info" action="/tasks/delete/<%= task.id %>" method="POST">
          <input id="checkbox" type="checkbox" name="status" value="true">
          <p><%= task.task %></p>
        </form>
        <div class="task-date">
          <small>Deadline:</small>
          <small><%= task.dueDate %></small>
        </div>
      </a>
    <%});%>
  </div>   
 </main>

  <script>
    const checkboxes = document.querySelectorAll("#checkbox");
    checkboxes.forEach((checkbox, index) => {
      checkbox.addEventListener("change", function () {
        if (this.checked) {
          
          const form = this.closest(".task-info");
          form.submit();
        }
      });
    });
  </script>
</body>
</html>