body {
  display: flex;
  justify-content: center;
}

main {
  border-radius: 10px;
  margin: 50px 0;
  box-shadow: 0 1px 12px grey;
  padding: 30px;
  min-width: 50%
}

h1 {
  text-align: center;
  border-bottom: 1px solid #b0adad74;
  padding-bottom: 20px;
}

#container {
  display: grid;
  grid-template: 130px/ 1fr 1fr;
  gap: 20px;
  grid-auto-rows: 150px;
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 10px 0;
  border-left: 1px solid #b0adad74;
  border-right: 1px solid #b0adad74;
  border-bottom: 1px solid #b0adad74;
  border-radius: 5px;
}

input[type=checkbox] {
  margin-right: 10px;
}

form.task-info,
.task-date {
  display: flex;
  padding: 0 10px;
}

.task-date {
  justify-content: space-between;
}

.indicator {
  height: 10px;
  background-color: green;
  border: 1px solid #b0adad74;
}

#form-div {
  height: 200px;
}

.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.add-task,
input[type=text],
input[type=submit],
input[type=date] {
  padding: 10px;
  border: 1px solid #b0adad74;
  border-radius: 5px;
  font-size: 1rem;
}

.add-task,
input[type=submit] {
  background-color: green;
  color: white !important;
  cursor: pointer;
}

#edit-page {
  height: 300px;
}
